body {
	font-size: 100%;
	color: #469135;
}

#tab-menu {
	border: 1px solid #5C963D;
}

#tab-menu div.tab {
	border: 1px solid #aaa;
	border-top: 1px solid #999;
	border-bottom: none;
	background-color: #D2E5C7;
	border-radius: 5px 5px 0 0;
	padding: 5px;
	margin: 1px;
	float: left;
	text-align: center;
}

#tab-menu div.tab a {
	text-decoration: none;
	color: #469135;
}

#tab-menu div.tab.warning {
	background-color: #FFDC9B;
	font-weight: bold;
	border: 1px solid #888;
	border-bottom: none;
}

#tab-menu div.tab.active {
	background-color: #84CE5F;
	border: 2px solid #5C963D;
	border-bottom: none;
}

#tab-menu div.tab.active a { /*font-weight: bold;*/
	color: #fff;
}

#tab-menu div.tab.icon_accept {
	background-image: url(../img/accept.png);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 24px;
}

#tab-menu div.row {
	clear: both;
	background-color: #84CE5F;
	overflow: hidden;
}