body {
	font-size: 100%;
	color: #4141E2;
}

#tab-menu a {
	text-decoration: none;
	border: 1px solid #aaa;
	border-bottom: none;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	padding: 5px;
	float: left;
	text-align: center;
}

#tab-menu a,#tab-menu a:visited {
	color: #385FFF;
}

#tab-menu a.active {
	/*font-weight: bold;*/
	color: #0000FF;
	background-color: #eeefff;
	border: 1px solid #888;
	border-bottom: none;
}

#tab-menu a.icon_accept {
	background-image: url(../img/accept.png);
	background-position: 5px;
	background-repeat: no-repeat;
	padding-left: 24px;
}

#tab-menu div {
	clear: both;
}