#tab-menu {
	border-bottom: none;
	position: relative;
}

#tab-menu div.tab {
	border-bottom: none;
	text-align: center;
	float: left;
}

#tab-menu div.tab a {
	text-decoration: none;
	float: left;
}

#tab-menu div.tab.warning {
	font-weight: bold;
}

#tab-menu div.tab.active {
	
}

#tab-menu div.icon_accept {
	background-image: url(../img/accept.png);
	background-repeat: no-repeat;
	padding-right: 16px;
	background-position: center right;
}

#tab-menu div.row {
	clear: both;
	margin: 0;
	overflow: hidden;
}